.joohyuk{
    color:white;
    font-weight: bold;              
    text-align: center;
}
.wooseok{
    color: greenyellow;
    font-family: 'Gill sans', sans-serif;
    text-align: center;
}
